<?php include "templates/header.html"; ?>

<h1>Список студентов:</h1>
<form action='list.php' method='get'>
		<legend>Поиск</legend>
	    <input type="text" name="search" placeholder='имя, фамилия, группа'>
    	<label>Сортровать по:</label>
	    <select size="1" name="sort">
		    <option value="points" selected>Баллам</option>
		 	<option value="name">Имени</option>
			<option value="surname">Фамилии</option>
			<option value="groupnum">Группе</option>
		</select>
		<select size="1" name="order">
		    <option value="DESC" selected>По убыванию</option>
		 	<option value="ASC">По возрастанию</option>
		</select>   
	    <input type="submit" name="submitsearch" value="Поиск">
	</form>

<?php	for($i=1;$i<=$numpages;$i++):?>
    	<a href="list.php?num=<?= $i?> "><?= htmlspecialchars($_GET['num'])?></a>       
<?php endfor; ?>

<table class="table table-bordered">
	<tr>
		<th>Имя</th>     
		<th>Фамилия</th>  
		<th>Группа</th> 
		<th>Суммарный балл</th>  
	</tr> 

	<?php foreach( $students as $student ): ?>

		<tr>
			<td><?= htmlspecialchars($student->getName()) ?> </td>     
			<td><?= htmlspecialchars($student->getSurname()) ?></td>  
			<td><?= htmlspecialchars($student->getGroupnum()) ?></td> 
			<td><?= htmlspecialchars($student->getPoints()) ?></td>  
		</tr> 

	<?php endforeach; ?>

</table>

<?php include "templates/footer.html"; ?>